.cards {
   margin: 0px 0px 100px 0px;
   @media (max-width: $md3) {
      margin: 0px 0px 50px 0px;
   }
   &__title {
      text-align: center;
      margin: 0px 0px 50px 0px;
      @media (max-width: $md3) {
         margin: 0px 0px 25px 0px;
      }
   }
   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      @media (max-width: $md4) {
         margin: 0;
      }
   }
   &__column {
      flex: 0 1 25%;
      padding: 0 15px;
      @media (max-width: $md1) {
         flex: 0 1 33.333%;
         margin: 0px 0px 30px 0px;
      }
      @media (max-width: $md2) {
         flex: 0 1 50%;
      }
      @media (max-width: $md4) {
         flex: 1 1 100%;
         margin: 0px 0px 15px 0px;
      }
   }
}
.item-card {
   border-radius: 10px;
   border: 1.5px solid #eaebed;
   overflow: hidden;
   position: relative;
   transition: all 0.3s;
   @media (min-width: 992px) {
      &:hover {
         transform: scale(1.01);
         box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
      }
   }
   &__image {
      picture {
         width: 255px;
         height: 230px;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
   &__badge {
      position: absolute;
      top: 10px;
      left: 10px;
      font-weight: 500;
      font-size: 12px;
      color: #ffffff;
      border-radius: 5px;
      line-height: 17px;
      padding: 4px 9px;
      @media (max-width: $md3) {
         font-size: 10px;
         padding: 2px 5px;
      }
      &_hit {
         background-color: #ee685f;
      }
      &_new {
         background-color: #75d14a;
      }
   }
   &__icon-scales {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 18px;
      right: 17px;
   }
   &__body {
      padding: 21px 25px 19px 24px;
      @media (max-width: $md3) {
         padding: 15px;
      }
   }
   &__title {
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: $second_color;
      margin: 0px 0px 21px 0px;
      @media (max-width: $md3) {
         margin: 0px 0px 15px 0px;
      }
   }
   &__list {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 0px 0px 13px 0px;
      padding-right: 7px;
      @media (max-width: $md3) {
         margin: 0px 0px 10px 0px;
         padding-right: 0px;
      }
   }
   &__item {
      display: flex;
      align-items: center;
      white-space: nowrap;
      gap: 10px;
      margin: 0px 0px 15px 0px;
      @media (max-width: $md3) {
         gap: 5px;
      }
      span {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         color: #5d6c7b;
         @media (max-width: $md3) {
            font-size: 12px;
         }
      }
      object {
         width: 18px;
         height: 18px;
         object-fit: cover;
         @media (max-width: $md3) {
            width: 14px;
            height: 14px;
         }
      }
   }
   &__footer {
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 16px 0px;
   }
   &__old-price {
      font-weight: 500;
      font-size: 12px;
      text-decoration-line: line-through;
      color: #5d6c7b;
      line-height: 110%;
      @media (max-width: $md3) {
         font-size: 10px;
      }
   }
   &__new-price {
      font-weight: 600;
      font-size: 20px;
      line-height: 29px;
      color: $second_color;
      @media (max-width: $md3) {
         font-size: 18px;
      }
   }
   &__icons {
      display: flex;
      gap: 10px;
      @media (max-width: $md3) {
         align-items: center;
      }
   }
   &__cart,
   &__like {
      width: 40px;
      height: 40px;
      border: 1.3px solid #eaebed;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      transition: border 0.3s;
      @media (max-width: $md3) {
         width: 30px;
         height: 30px;
      }
      &:hover {
         border: 1.3px solid $main_color;
      }
      object {
         width: 20px;
         height: 20px;
      }
   }
   &__btn {
      width: 100%;
      height: 37px;
      font-weight: 300;
      font-size: 12px;
      text-align: center;
      color: #ffffff;
   }
}
