.header {
   &__top {
   }

   &__main {
   }
}

.top-header {
   border-bottom: 1px solid #ecf3ff;
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 39px;
   }
   &__controls {
      display: flex;
      align-items: center;
   }

   &__menu {
   }

   &__social {
   }

   &__phone {
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: $second_color;
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
.menu-top {
   &__list {
      display: flex;
      align-items: center;
      margin: 0px 30px 0px 0px;
   }
   &__item {
   }
   &__item:not(:last-child) {
      margin: 0px 30px 0px 0px;
   }
   &__link {
      font-size: 12px;
      line-height: 17px;
      color: #5d6c7b;
      display: inline-block;
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
.main-header {
   padding-bottom: 12px;
   &__row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 98px;
      position: relative;
   }
   &__logo {
      margin: 0px 35px 0px 0px;
      a {
         font-weight: 700;
         font-size: 30px;
         line-height: 43px;
         text-transform: uppercase;
         color: $second_color;
      }
   }

   &__menu {
   }

   &__search {
      width: 604px;
      height: 40px;
      display: flex;
      input {
         flex: 1 0 auto;
         height: 100%;
         border: 1.5px solid $main_color;
         border-radius: 5px 0 0 5px;
         padding: 10px 20px;
         font-family: $fontfamily;
         font-weight: 400;
         font-size: 14px;
         color: #5d6c7b;
         &:focus {
            box-shadow: inset 1px 1px 5px $main_color;
         }
      }
      .search-icon {
         width: 40px;
         height: 40px;
         background-color: $main_color;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 0 5px 5px 0;
         position: relative;
         &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0);
            display: inline-block;
         }
         object {
            width: 16px;
            height: 16px;
         }
      }
   }

   &__cart-control {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 25px;
      object {
         width: 100%;
         max-width: 20px;
         object-fit: cover;
      }
      span {
         font-weight: 500;
         font-size: 14px;
         line-height: 20px;
         color: $second_color;
      }
   }
   &__scale,
   &__likes {
      max-width: 20px;
      max-height: 20px;
   }
   &__scale {
   }

   &__likes {
   }

   &__cart {
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
      a {
         display: flex;
         align-items: center;
         gap: 10px;
      }
   }
}
.menu-main {
   &__item {
   }
   &__button {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 18px 0 15px;
      margin: 0px 20px 0px 0px;
      .btn-icon {
         position: relative;
         width: 13px;
         height: 10px;
         margin-right: 13px;
         span:nth-child(1) {
            top: 0;
            left: 0;
         }
         span:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
         }
         span:nth-child(1),
         span:nth-child(2) {
            width: 13px;
         }
         span:nth-child(3) {
            width: 7px;
            bottom: 0;
            right: 0;
            transition: all 0.3s;
         }
         span:nth-child(1),
         span:nth-child(2),
         span:nth-child(3) {
            transition: all 0.3s;

            position: absolute;
            height: 1.3px;
            background-color: #fff;
         }
         &._active {
            span:nth-child(1) {
               top: 50%;
               transform: rotate(45deg);
            }
            span:nth-child(2) {
               transform: scale(0);
            }
            span:nth-child(3) {
               transform: rotate(-45deg);
               width: 13px;
               top: 50%;
            }
         }
      }
      @media (min-width: 992px) {
         &:hover .btn-icon span:nth-child(3) {
            width: 13px;
         }
      }
   }
}
.social-header {
   display: flex;
   align-items: center;
   &__item {
      max-width: 12px;
      max-height: 12px;

      object {
         width: 100%;
      }
   }
   &__item:not(:last-child) {
      margin: 0px 9px 0px 0px;
   }
}

.body-main {
   display: flex;
   opacity: 0;
   visibility: hidden;
   top: 200%;
   position: absolute;
   left: 0;
   width: 100%;
   padding: 50px;
   justify-content: space-between;
   background-color: #fff;
   border: 3px solid $main_color;
   border-radius: 10px;
   z-index: 100;
   transition: all 0.5s ease-in 0s;
   &._active {
      top: 100%;
      opacity: 1;
      visibility: visible;
   }
   &__menu {
      display: flex;
      flex: 0 1 50%;
      justify-content: space-around;
   }

   &__block {
   }

   &__title {
      a {
         font-weight: 500;
         font-size: 18px;
         line-height: 26px;
         color: $second_color;
      }
      margin: 0px 0px 17px 0px;
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 10px;
   }

   &__item {
      padding-right: 46px;

      a {
         font-size: 14px;
         line-height: 20px;
         color: #5d6c7b;
         @media (min-width: 992px) {
            &:hover {
               text-decoration: underline;
            }
         }
      }
      &_name {
         font-size: 12px;
         color: $second_color;
      }

      &_phone {
         a {
            font-weight: 500;
            font-size: 16px;
            color: $second_color;
         }
      }

      &_time {
         font-size: 12px;
         color: #5d6c7b;
      }
   }

   &__contacts {
      flex: 0 1 50%;
      display: flex;
      justify-content: space-around;
      padding-left: 50px;
      & .body-main__lists {
         display: flex;
         flex-direction: column;
         gap: 30px;
      }
      & .body-main__title {
         margin: 0px 0px 20px 0px;
      }
   }

   &__popup {
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: $main_color;
      padding-top: 5px;
      @media (min-width: 992px) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
