.modal {
   position: relative;
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s;
   z-index: 101;
   &__item {
      background-color: #fff;
      display: flex;
      gap: 69px;
      padding: 40px 57px 45px 40px;
      position: relative;
      transform: scale(0);
      transition: all 0.3s;
   }
   &._active {
      visibility: visible;
      opacity: 1;
      & .modal__item {
         transform: scale(1);
      }
   }
   &__overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 102;
   }

   &__close {
      position: absolute;
      background: url('../img/modal/icons/close_btn.svg') 0 0 / contain no-repeat;
      top: 13px;
      right: 13px;
      width: 29px;
      height: 29px;
      z-index: 103;
      cursor: pointer;
      transition: all 0.3s;
      @media (min-width: 992px) {
         &:hover {
            transform: scale(1.2) rotate(180deg);
         }
      }
   }
   &__body {
      max-width: 286px;
   }

   &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 36px;
      text-transform: uppercase;
      color: $second_color;
      margin: 0px 0px 9px 0px;
   }

   &__subtitle {
      font-size: 16px;
      line-height: 20px;
      color: $second_color;
      margin: 0px 0px 29px 0px;
   }

   &__text {
      font-size: 14px;
      line-height: 20px;
      color: $second_color;
      margin: 0px 0px 86px 0px;
   }

   &__form {
   }
   &__label {
      font-size: 12px;
      line-height: 17px;
      color: #5d6c7b;
      margin: 0px 0px 20px 0px;
   }
   &__input {
      width: 263px;
      display: flex;
      flex-wrap: wrap;
      margin: 0px 0px 16px 0px;

      input {
         height: 53px;
         flex: 1 1 100%;
         border: 1px solid #eaebed;
         border-radius: 5px;
         margin: 0px 0px 20px 0px;
         padding: 10px 24px;
         &::placeholder {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.155em;
            color: #5d6c7b;
         }
         &:focus {
            box-shadow: inset 1px 1px 5px $main_color;
         }
      }
   }
   &__btn {
      flex: 1 1 100%;
      height: 53px;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
   }

   &__confirm {
      display: flex;
      align-items: start;
      max-width: 245px;
      gap: 15px;
      padding-left: 17px;
   }
   &__agree {
      font-size: 12px;
      line-height: 14px;
      color: $second_color;
      span {
         color: $main_color;
         text-decoration: underline;
      }
   }

   &__image {
      max-height: 100%;
      max-width: 600px;
      padding: 8px 0;
      img {
         height: 100%;
         object-fit: cover;
      }
   }
}
