//===== Кнопка ==============================================================================//
._btn {
   background-color: $main_color;
   border-radius: 5px;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(23 / 16 * 100%);
   color: #ffffff;
   transition: all 0.3s;
   @media (min-width: 992px) {
      &:hover {
         box-shadow: inset 0 -60px 0 0 $second_color;
      }
   }
   @media (max-width: $md1) {
   }
}
._btn_w {
   @media (min-width: 992px) {
      &:hover {
         color: #ffffff;
      }
   }
}
//===============================================================================================//

//===== Заголовок ==============================================================================//
.title {
   font-style: normal;
   font-weight: 600;
   font-size: 35px;
   line-height: calc(51 / 35 * 100%);
   text-transform: uppercase;
   color: $second_color;
   @media (max-width: $md1) {
      font-size: 28px;
   }
   @media (max-width: $md2) {
      font-size: 22px;
   }
   @media (max-width: $md4) {
      font-size: 18px;
   }
}

//===============================================================================================//

//===== hover for icons ==============================================================================//
._circle-hover {
   @media (min-width: 992px) {
      &:hover {
      }
   }
}
//===============================================================================================//

//===== invalid form ==============================================================================//
.is-invalid {
   border: 1px solid red !important;
}
//===============================================================================================//

//===== valid label ==============================================================================//
.just-validate-error-label {
   padding: 0 10px;
   background-color: #f4f7fb;
   position: absolute;
   left: 10px;
   top: -10px;
}
//===============================================================================================//
