.popup {
   z-index: 200;
   padding: 30px 10px;
   position: fixed;
   top: 0px;
   left: 0;
   width: 100%;
   height: 100%;
   visibility: hidden;
   &::before {
      content: '';
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
   }
   &._active {
      overflow: auto;
      visibility: visible;
      -webkit-transition: all 0.8s ease 0s;
      transition: all 0.8s ease 0s;
      &::before {
         content: '';
         opacity: 1;
      }
      & .popup__body {
         -webkit-transform: scale(1);
         transform: scale(1);
      }
   }
   &__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: 100%;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 100%;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      align-items: center;
   }
   &__body {
      -webkit-transform: scale(1);
      transform: scale(1);
      background-color: #fff;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      display: flex;
      gap: 69px;
      padding: 40px 57px 45px 40px;
      position: relative;
      @media (max-width: $md3) {
         padding: 30px;
      }
   }
}
.modal {
   &__close {
      position: absolute;
      background: url('../img/modal/icons/close_btn.svg') 0 0 / contain no-repeat;
      top: 13px;
      right: 13px;
      width: 29px;
      height: 29px;
      z-index: 103;
      cursor: pointer;
      transition: all 0.3s;
      @media (min-width: 992px) {
         &:hover {
            transform: scale(1.2) rotate(180deg);
         }
      }
   }
   &__body {
      max-width: 286px;
   }
   &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 36px;
      text-transform: uppercase;
      color: $second_color;
      margin: 0px 0px 9px 0px;
      @media (max-width: $md3) {
         font-size: 22px;
      }
   }
   &__subtitle {
      font-size: 16px;
      line-height: 20px;
      color: $second_color;
      margin: 0px 0px 29px 0px;
      @media (max-width: $md3) {
         margin: 0px 0px 15px 0px;
      }
   }
   &__text {
      font-size: 14px;
      line-height: 20px;
      color: $second_color;
      margin: 0px 0px 86px 0px;
      @media (max-width: $md3) {
         margin: 0px 0px 50px 0px;
      }
   }
   &__input {
      width: 263px;
      display: flex;
      flex-wrap: wrap;
      margin: 0px 0px 16px 0px;
      position: relative;
      input {
         height: 53px;
         flex: 1 1 100%;
         border: 1px solid #eaebed;
         border-radius: 5px;
         margin: 0px 0px 20px 0px;
         padding: 10px 24px;
         &,
         &::placeholder {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.155em;
            color: #5d6c7b;
         }
         &:focus {
            box-shadow: inset 1px 1px 5px $main_color;
         }
      }
   }
   &__label {
      font-size: 12px;
      line-height: 17px;
      color: #5d6c7b;
      margin: 0px 0px 20px 0px;
   }
   &__btn {
      flex: 1 1 100%;
      height: 53px;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
   }
   &__confirm {
      display: flex;
      align-items: start;
      gap: 12px;
      padding: 0px 30px 0px 0px;
      position: relative;
      justify-content: flex-end;
      & .checkbox {
         width: 16px;
         height: 16px;
      }
   }
   &__agree {
      font-size: 12px;
      line-height: 14px;
      color: $second_color;
      max-width: 210px;
      span {
         color: $main_color;
         text-decoration: underline;
      }
   }
   &__image {
      max-height: 100%;
      max-width: 600px;
      padding: 8px 0;
      img {
         height: 100%;
         object-fit: cover;
      }
      @media (max-width: $md2) {
         display: none;
      }
   }
}
