//===== Импорты ==============================================================================//
@import '_fonts.scss';
@import '_nullstyle.scss';
//===============================================================================================//

//===== Шрифт по умолчанию ======================================================================//
$fontfamily: 'Jost';
//===============================================================================================//

//===== Переменные ==============================================================================//
$minwidth: 320px;
$maxwidth: 1400px;
$md1: $maxwidth + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$main_color: #6f73ee;
$second_color: #282739;
//===============================================================================================//

//===== Основная сетка ==========================================================================//
._container {
   max-width: $maxwidth;
   margin: 0 auto;
   padding: 0 10px;
   width: 100%;
   @media (max-width: $md1) {
      max-width: 970px;
   }
   @media (max-width: $md2) {
      max-width: 750px;
   }
   @media (max-width: $md3) {
      max-width: none;
      padding: 0 10px;
   }
}
._subcontainer {
   max-width: 1130px;
   margin: 0 auto;
   padding: 0 10px;
   width: 100%;
}
//===============================================================================================//

//===== Оболочка ================================================================================//
.wrapper {
   width: 100%;
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: $fontfamily;
}
.main {
   flex: 1 1 auto;
}
body._lock {
   overflow: hidden;
}
//===============================================================================================//
